:root{
  --heading-color: #252920;
  --text-color: #666666;
  --primary-gradient: linear-gradient(315deg, #F86161 0%, #FFB23F 100%);
  --heading-font: 'Lexend', sans-serif;
  --body-font: font-family: 'Barlow', sans-serif;
  --header-shadow: 4px 10px 40px 0px rgba(146, 146, 146, 0.10);
  --primary-color: #ff6666;
  --section-gradient: linear-gradient(360deg, #FFF2F4 0.12%, #FFF2F4 65.05%, rgba(255, 252, 252, 0.00) 100%);
}

/* basic setup */
body{
  margin: 0;
  font-size: 16px;
  color: var(--text-color);
  font-family: var(--body-font);
}

.font-lily{
  font-family: 'Lily Script One', cursive;
}
h1{
  font-size: 72px;
}
h2{
  font-size: 36px;
}

h3{
  font-size: 30px;
}
h4{
  font-size: 24px;
}

h5{
  font-size: 20px;
}
h6{
  font-size: 18px;
}
h1, h2, h3, h4, h5, h6{
  color: var(--heading-color);
  font-family: var(--heading-font);
}
a{
  text-decoration: none;
}
.container{
  max-width: 1170px;
  margin: 0 auto;
}
/* header area section */
.header-section{}
.header-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--header-shadow);
  padding: 5px 25px 5px 15px;
}
.logo{}
.nav-menu ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-menu ul li {
  display: inline-block;
}
.header-right{
  display: flex;
  align-items: center;
  gap: 35px;
}
.nav-menu a{
  padding: 8px 25px;
  color: var(--heading-color);
  font-family: 600;
  transition: 0.3s;
  position: relative;
}
.nav-menu a::after{
  content: " ";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  background-image: var(--primary-gradient);
  width: calc(100% - 50%);
  height: 2px;
  opacity: 0;
  transition: 0.3s;
}
.nav-menu a:hover::after{
  opacity: 1;
}
.nav-menu a:hover{
  color: var(--primary-color);
}

.btn{
  padding: 16px 24px;
  background: var(--primary-gradient);
  color: #fff;
  border-radius: 4px;
  font-size: 15px;
  font-family: var(--heading-font);
}
.mobile-btn{
  border-color: transparent;
  border: 0;
  font-size: 24px;
  display: none;
}
/* hero section start */
.hero-contant{
  display: flex;
}
.hero-left{

}
.hero-left h1 span{
  color: var(--primary-color);
}
.hero-right{}
